<!--{% extends "base.html" %}-->

<!--{% block title %}Tizimga Kirish - Bog'cha Oshxonasi{% endblock %}-->

<!--{% block head_links %}-->
<!--    <link rel="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--<div class="login-container d-flex align-items-center justify-content-center">-->
<!--    <div class="login-form-container p-4 shadow-sm rounded">-->
<!--        <div class="text-center mb-4">-->
<!--            <img src="{{ url_for('static', path='/images/logo.png') }}" alt="Bog'cha Logotipi" width="72" height="72">-->
<!--            <h1 class="h3 mb-3 fw-normal">Tizimga Kirish</h1>-->
<!--        </div>-->
<!--        <form id="login-form">-->
<!--            <div class="form-floating mb-3">-->
<!--                <input type="text" class="form-control" id="username" placeholder="Foydalanuvchi nomi" required>-->
<!--                <label for="username">Foydalanuvchi nomi</label>-->
<!--            </div>-->
<!--            <div class="form-floating mb-3">-->
<!--                <input type="password" class="form-control" id="password" placeholder="Parol" required>-->
<!--                <label for="password">Parol</label>-->
<!--            </div>-->
<!--            <button class="w-100 btn btn-lg btn-primary" type="submit">Kirish</button>-->
<!--            <div id="login-error" class="mt-3 text-danger" style="display: none;"></div>-->
<!--        </form>-->
<!--        <p class="mt-5 mb-3 text-muted text-center">© {% now 'local', '%Y' %}</p>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->

<!--{% block scripts %}-->
<!--    <script src="{{ url_for('static', path='/js/pages/loginPage.js') }}"></script>-->
<!--{% endblock %}-->